<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
  <title>Chat Rooms</title>
</head>
<body>
  <h1 class="px-3 mt-5 text-red-300">Choose a Chat Room</h1>
  <ul>
    <li><a href="/chat/history">History</a></li>
    <li><a href="/chat/biology">Biology</a></li>
    <li><a href="/chat/chemistry">Chemistry</a></li>
  </ul>

  <button class="history px-3 py-2 bg-red-700 mt-5 ml-5">history</button>
  <button class="blue px-3 py-2 bg-red-700">Biology</button>
  <button class="chemistry px-3 py-2 bg-red-700">chemistry</button>
</body>
</html>
